.navbar * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}
.navbar ul {
  list-style: none;
}
.navbar ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

li {
  border-radius: 2px;
  color: rgb(29, 26, 26);
  display: inline-block;
}
li:after {
  display: block;
  content: "";
  border-bottom: 3px solid #e0ec00;
  transform: scaleX(0);
}
li:hover:after {
  transform: scaleX(0.7);
  transform: transform 250ms ease-in-out;
}

li:hover {
  cursor: pointer;
}
